---
title: Welcome to One.js
---
<div class="wrapper">
  <header>
    <h1>One.js</h1>
    <p id="description">loading ...</p>

    <p class="view"><a href="https://github.com/lytc/one">View the Project on GitHub <small>lytc/one</small></a></p>

    <ul>
      <li><a href="https://github.com/lytc/one/zipball/master">Download <strong>ZIP File</strong></a></li>
      <li><a href="https://github.com/lytc/one/tarball/master">Download <strong>TAR Ball</strong></a></li>
      <li><a href="https://github.com/lytc/one">View On <strong>GitHub</strong></a></li>
    </ul>
  </header>
  <section>
    <h3>Target platforms</h3>
    <ul>
      <li>Chrome 5+</li>
      <li>Safari 5+</li>
      <li>Mozilla Firefox 4+</li>
      <li>Opera 12+</li>
      <li>IE 10+</li>
    </ul>
    <br>
    <h3>How to use?</h3>
    <p>Include One.js with a script tag at the end of body tag</p>

<% highlight_syntax :html do %>
<body>
  ...
  <script src="one"></script>
</body>
<% end %>

<br>

<h3>Events</h3>

<% highlight_syntax :html do %>
...
<a id="click-me" href="#">Click me!</a>
...
<% end %>

<p><a id="click-me" href="#">Click me!</a></p>

<% highlight_syntax :javascript do %>
$.ready(function() {
  $('#click-me').on('click', function(e) {
    e.preventDefault()
    alert('Thanks for visiting!')
  })
})
<% end %>

<br>

    <h3>Selectors</h3>
    <p>One.js selector wrap "querySelectorAll" to support more features like: Adjacent previous sibling combinator <b><%= highlight_syntax('"-"', :javascript, :tag => 'span') %></b>, General previous sibling combinator <b><%= highlight_syntax('"<~"', :javascript, :tag => 'span') %></b></p>
    
<% highlight_syntax :javascript do %>
//Adjacent previous sibling combinator
$('#container').find('- div')

//General previous sibling combinator
$('#container').find('<~ div')
<% end %>

<br>
  
    <h3>Ajax</h3>
    <p>One.js ajax support full XMLHttpRequest Level 2 and modify a bit to make it more convenient.</p>
    
<% highlight_syntax :javascript do %>
$.ajax('/hello', function(response) {
  // do something
})

$.ajax('/hello', {
  onStart: function(e) {
    // do something
  }
  ,onSuccess: function(response, e) {
    // do something
  }
})

$.getJson('/data.json', function(data) {
  // do something
})
<% end %>

<h3>JSONP</h3>
<p>JSONP is not a part of XMLHttpRequest. So One.js seperate it from ajax.</p>

<% highlight_syntax :javascript do %>
$.getJsonP('http://data.json', function(data) {
  // do something
})
<% end %>

<br>

<h3>Transition & Animation</h3>
<p>One.js use native CSS3 transition & animation</p>
<div id="hide-me" style="background-color: #39C; color: white; border-radius: 10px; padding: 20px; cursor: pointer;">Hide me please!</div>

<br>

<h3>Template</h3>
<p>One.js Template compiles JavaScript templates into functions that can be evaluated for rendering. Useful for rendering complicated bits of HTML from JSON data sources</p>
<% highlight_syntax :javascript do %>
var tpl = 'Hi <%%= this.name %>, welcome to "<%%= this.lib %>"!'
var content = $.template(template, {name: 'Lytc', lib: 'One.js'})
=> 'Hi Lytc, welcome to "One.js"!'

var template = $.template(
  "<%% this.items.forEach(function(item) { %>",
    "<li><%%= item %></li>",
  "<%% }) %>"
)
template.render({items : ['foo', 'bar', 'baz']})
=> "<li>foo</li>  <li>bar</li>  <li>baz</li>"
<% end %>

  </section>
  <footer>
    <p>This project is maintained by <a href="https://github.com/lytc">lytc</a></p>
    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
  </footer>
</div>


<iframe src="SpecRunner.html" width="0" height="0" frameborder=0></iframe>
