---
title: Welcome to Middleman
---

<div id="root">
  <div class="a" style="width: 400px; height: 100px; background: red;">a</div>
  <div class="b" style="width: 400px; height: 100px; background: blue;">b</div>
  <div class="c" style="width: 400px; height: 100px; background: green;">c</div>
  <div class="d">d</div>
  <div class="e">e</div>
  <div class="f">f</div>
  <div class="g">g</div>
</div>

<form action="/data.json" method="post">
  <input type="text" name="name1">
  <input type="checkbox" name="name2" value=1>
  <div>sdf</div>
  <select name="select1">
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
  </select>
  <select name="select2" multiple>
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
  </select>
</form>