/* line 2, api.css.scss */
#container > aside {
  position: fixed;
  width: 210px;
  box-shadow: 0 0 20px #ccc;
  padding: 10px;
  left: 0;
  top: 0;
  bottom: 0; }
  /* line 11, api.css.scss */
  #container > aside > button {
    display: none; }
  /* line 15, api.css.scss */
  #container > aside > section {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; }
    /* line 24, api.css.scss */
    #container > aside > section > ul {
      margin: 0;
      padding: 0; }
      /* line 28, api.css.scss */
      #container > aside > section > ul > li {
        list-style: none; }
        /* line 30, api.css.scss */
        #container > aside > section > ul > li > a {
          font-size: 14px;
          font-weight: bold; }
        /* line 34, api.css.scss */
        #container > aside > section > ul > li > ul {
          margin-left: 20px;
          padding: 0; }
          /* line 37, api.css.scss */
          #container > aside > section > ul > li > ul > li {
            list-style: none; }
            /* line 39, api.css.scss */
            #container > aside > section > ul > li > ul > li :before {
              content: "- "; }
/* line 49, api.css.scss */
#container > section {
  margin-left: 280px; }
  /* line 52, api.css.scss */
  #container > section > article h3 {
    margin-top: 40px;
    padding: 5px 0;
    border-bottom: 1px solid #f6f6f6; }

/* line 61, api.css.scss */
.line-numbers {
  display: inline-block;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 2px solid #ccc; }

@media print, screen and (max-width: 720px) {
  /* line 69, api.css.scss */
  body {
    padding-top: 40px; }

  /* line 73, api.css.scss */
  #container > aside {
    background: #000000;
    height: 30px;
    overflow: hidden;
    padding: 5px 10px; }
    /* line 79, api.css.scss */
    #container > aside > button {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 35px;
      width: 38px;
      height: 26px;
      padding: 0 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background: none; }
      /* line 91, api.css.scss */
      #container > aside > button > span {
        display: block;
        border-top: 2px solid #fff;
        margin-bottom: 2px; }
    /* line 98, api.css.scss */
    #container > aside a {
      color: white; }
  /* line 103, api.css.scss */
  #container > aside, #container > section {
    width: 100%; }
  /* line 107, api.css.scss */
  #container > section {
    margin-left: 0 !important; } }
