/* line 1, index.css.scss */
#container {
  margin: auto; }
  /* line 4, index.css.scss */
  #container > aside {
    width: 270px; }
    /* line 7, index.css.scss */
    #container > aside > section ul {
      list-style: none;
      height: 40px;
      padding: 0;
      background: #eee;
      background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
      background: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
      background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
      background: -ms-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
      background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
      border-radius: 5px;
      border: 1px solid #d2d2d2;
      box-shadow: inset white 0 1px 0, inset rgba(0, 0, 0, 0.03) 0 -1px 0;
      width: 270px; }
      /* line 26, index.css.scss */
      #container > aside > section ul a {
        line-height: 1;
        font-size: 11px;
        color: #999;
        display: block;
        text-align: center;
        padding-top: 6px;
        height: 40px; }
        /* line 35, index.css.scss */
        #container > aside > section ul a strong {
          font-size: 14px;
          display: block;
          color: #222; }
    /* line 43, index.css.scss */
    #container > aside > section li {
      width: 89px;
      float: left;
      border-right: 1px solid #d2d2d2;
      height: 40px; }
      /* line 49, index.css.scss */
      #container > aside > section li + li {
        width: 88px;
        border-left: 1px solid #fff; }
        /* line 53, index.css.scss */
        #container > aside > section li + li + li {
          border-right: none;
          width: 89px; }
  /* line 62, index.css.scss */
  #container > section {
    margin-left: 310px; }

@media print, screen and (max-width: 720px) {
  /* line 69, index.css.scss */
  #container > nav, #container > aside {
    position: static !important; }
  /* line 73, index.css.scss */
  #container > nav, #container > aside, #container > section {
    width: auto !important; }
  /* line 77, index.css.scss */
  #container > section {
    margin-left: 0 !important; } }
