@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
/* line 3, styles.css.scss */
body {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-weight: 300; }

/* line 9, styles.css.scss */
h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 20px; }

/* line 14, styles.css.scss */
p, ul, ol, table, pre, dl {
  margin: 0 0 20px; }

/* line 18, styles.css.scss */
h1, h2, h3 {
  line-height: 1.1; }

/* line 22, styles.css.scss */
h1 {
  font-size: 28px; }

/* line 26, styles.css.scss */
h2 {
  color: #393939; }

/* line 30, styles.css.scss */
h3, h4, h5, h6 {
  color: #494949; }

/* line 34, styles.css.scss */
a {
  color: #39c;
  font-weight: 400;
  text-decoration: none; }

/* line 40, styles.css.scss */
a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.6em;
  display: block; }

/* line 47, styles.css.scss */
blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic; }

/* line 54, styles.css.scss */
code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px; }

/* line 60, styles.css.scss */
pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto; }

/* line 68, styles.css.scss */
table {
  width: 100%;
  border-collapse: collapse; }

/* line 73, styles.css.scss */
th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5; }

/* line 79, styles.css.scss */
dt {
  color: #444;
  font-weight: 700; }

/* line 84, styles.css.scss */
th {
  color: #444; }

/* line 88, styles.css.scss */
img {
  max-width: 100%; }

/* line 92, styles.css.scss */
strong {
  color: #222;
  font-weight: 700; }

/* line 97, styles.css.scss */
small {
  font-size: 11px; }

/* line 101, styles.css.scss */
hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px; }

/* line 108, styles.css.scss */
.clearfix {
  *zoom: 1; }
  /* line 111, styles.css.scss */
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  /* line 115, styles.css.scss */
  .clearfix:after {
    clear: both; }

/* line 120, styles.css.scss */
#container {
  max-width: 860px; }
  /* line 123, styles.css.scss */
  #container > aside {
    position: fixed;
    top: 0; }
    /* line 128, styles.css.scss */
    #container > aside > nav > ul {
      margin: 0;
      padding: 0 0 15px 0; }
      /* line 131, styles.css.scss */
      #container > aside > nav > ul > li {
        display: inline-block;
        font-weight: bold;
        border-bottom: 3px solid #ccc; }
        /* line 135, styles.css.scss */
        #container > aside > nav > ul > li:first-child {
          margin-right: 10px; }
