#container {
  > aside {
    position: fixed;
    width:210px;
    box-shadow: 0 0 20px #ccc;
    padding: 10px;
    left: 0;
    top: 0;
    bottom: 0;

    > button {
      display: none;
    }

    > section {
      position: absolute;
      top: 40px;
      right: 0;
      bottom: 0;
      left: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      > ul {
        margin: 0;
        padding: 0;

        > li {
          list-style: none;
          > a {
            font-size: 14px;
            font-weight: bold;
          }
          > ul {
            margin-left: 20px;
            padding: 0;
            > li {
              list-style: none;
              :before {
                content: "- "
              }
            }
          }
        }
      }
    }
  }

  > section {
    margin-left: 280px;
    > article {
      h3 {
        margin-top: 40px;
        padding: 5px 0;
        border-bottom: 1px solid #f6f6f6;
      }
    }
  }
}

.line-numbers {
  display: inline-block;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 2px solid #ccc;
}

@media print, screen and (max-width: 720px) {
  body {
    padding-top: 40px;
  }
  #container {
    > aside {
      background: #000000;
      height: 30px;
      overflow: hidden;
      padding: 5px 10px;

      > button {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 35px;
        width: 38px;
        height: 26px;
        padding: 0 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: none;
        > span {
          display: block;
          border-top: 2px solid #fff;
          margin-bottom: 2px;
        }
      }

      a {
        color: white;
      }
    }

    > aside, > section {
      width: 100%;
    }

    > section {
      margin-left: 0 !important;
    }
  }
}